/* containers.css to define container divs properties */

/* */


#container
{

	/*width: 100%;*/
	min-height:100%;
	height:100%;
	position:relative;
	background:#778080;
	
	/*
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #000000;
	*/
}

#top
{

	/*
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #00ff00;
	*/
	padding:10px;
}

#mid
{
	/*
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #0000ff;
	*/
	padding-bottom:60px; 
}

#bottom
{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	background:#333333
	/*
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #ff0000;
	*/
}



